/* Estilos específicos para a página de editar perfil */
.edit-profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.edit-profile-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-profile-container label {
    font-weight: bold;
    font-size: 16px;
}

.edit-profile-container input[type="text"],
.edit-profile-container input[type="email"],
.edit-profile-container input[type="password"],
.edit-profile-container input[type="file"],
.edit-profile-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.edit-profile-container textarea {
    resize: vertical;
    min-height: 100px;
}

.edit-profile-container .button {
    background-color: #7e3011ce;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: none;
}

.edit-profile-container .button:hover {
    background-color: #fdd663;
    color: #000;
}

.edit-profile-container .submit-button {
    background-color: #7e3011ce;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.edit-profile-container .submit-button:hover {
    background-color: #fdd663;
    color: #000;
}

.edit-profile-container .cancel-button {
    background-color: #e9710f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.edit-profile-container .cancel-button:hover {
    background-color: #fdd663;
    color: #000;
}